/* ==========================
   RESET CSS
========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font: inherit;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}


/* ==========================
   STYLE GENERAL
========================== */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f7fa;
    color: #1f2937;
    min-height: 100vh;
}


/* ==========================
   HEADER
========================== */

.header {
    height: 70px;
    padding: 0 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffffff;
    border-bottom: 1px solid #e5e7eb;
}

.header h1 {
    font-size: 1.5rem;
}

.header-user button {
    padding: .6rem 1rem;

    background-color: none;
    color: black;

    border-radius: 8px;
}

/* ==========================
   WORKSPACE
========================== */

.workspace {
    display: flex;
    min-height: calc(100vh - 70px);
}


/* ==========================
   SIDEBAR
========================== */

.sidebar {
    width: 260px;

    padding: 2rem 1rem;

    background-color: #1f2937;
    color: white;
}

.sidebar-header {
    margin-bottom: 2rem;
}

.sidebar-header h2 {
    font-size: 1.3rem;
}

.sidebar-nav ul {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.sidebar-nav button {
    width: 100%;

    padding: .8rem 1rem;

    text-align: left;

    color: white;

    border-radius: 8px;

    transition: .3s;
}

.sidebar-nav button:hover {
    background-color: #374151;
}


/* ==========================
   MAIN
========================== */

.main-content {
    flex: 1;

    padding: 2rem;

    background-color: #f5f7fa;
}

.dashboard-header {
    margin-bottom: 2rem;
}

.dashboard-header h2 {
    margin-bottom: .5rem;
}

.dashboard-header p {
    color: #6b7280;
}



/* ==========================
   STATISTIQUES
========================== */

.dashboard-stats {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;

    margin-bottom: 2rem;
}

.stat-card {
    height: 120px;

    background-color: white;

    border-radius: 12px;

    border: 1px solid #e5e7eb;
}

/* ==========================
   GRAPHIQUES
========================== */

.dashboard-charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    margin-bottom: 2rem;
}

.chart-card {
    height: 320px;

    background-color: white;

    border-radius: 12px;

    border: 1px solid #e5e7eb;
}

/* ==========================
   TABLEAUX
========================== */

.dashboard-tables {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.table-card {
    height: 260px;

    background-color: white;

    border-radius: 12px;

    border: 1px solid #e5e7eb;
}